<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wan.dianjie.wandj.mapper.JobAndTriggerMapper">

    <select id="getJobAndTriggerDetails" resultType="wan.dianjie.wandj.entidy.JobAndTrigger">
				select distinct
					qrtz_job_details.job_name ,
					qrtz_job_details.job_group ,
					qrtz_job_details.job_class_name ,
					qrtz_triggers.trigger_name ,
					qrtz_triggers.trigger_group ,
					qrtz_cron_triggers.cron_expression ,
					qrtz_cron_triggers.time_zone_id
				from
					qrtz_job_details
				left join qrtz_triggers on qrtz_triggers.trigger_group = qrtz_job_details.job_group
				left join qrtz_cron_triggers on qrtz_job_details.job_name = qrtz_triggers.job_name
				and qrtz_triggers.trigger_name = qrtz_cron_triggers.trigger_name
				and qrtz_triggers.trigger_group = qrtz_cron_triggers.trigger_group
    </select>
</mapper>


